*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  .container{
      width: 100%;
      height: 100vh;
      background: url('https://i.pinimg.com/736x/01/d4/bc/01d4bcb95f1fe85e06fb3a95e57f89d8.jpg') no-repeat;
      width: 100%;
     height: 100vh;
    background-size: cover;
    background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
  
  }
  .music-player{
    background: #ffc594;
    width: 400px;
    padding: 25px 35px;
    text-align: center; 
  }
  nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  nav.circle {
    border-radius:50%;
    width:40px;
    height:40px;
    line-height: 40px;
    background:#000000; 
    color:#121212;
    box-shadow: 0 5px 10px rgba(225, 26, 26, 0.22);
  }
  .song-img{
     width: 300px;
     border-radius: 100%;
     border: 8px solid #000000;
     box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
  }
  .music-player h1{
    font-size: 20px;
    color: #000000;
    margin-top: 20px;
  }
  .music-player p{
    font-size: 14px;
    color: #000000;
  }
  #progress{
    -webkit-appearence: none;
    width: 100%;
    height: 6px;
    background: #000000;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
  }
  #progress::-webkit-slider-thumb{
    -webkit-appearence: none;
    background: #000000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #000000;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
  }
  .controls{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #e67451;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #000000;
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer;
  }
  .controls div:nth-child(2){
    transform: scale(1.5);
    background: #e67451;
    color: #fff;
  }